h1   {
       color: blue;
       background-color: yellow;
}

body {
background-color: green;
}
div.a { gang
    text-align: center;
}

div.b { hang
    text-align: left;
}

div.c { bang
    text-align: right;
} 

div.d { sang
    text-align: justify;
} 
div {outline-color: coral;}
